<div id="main_head">
    <a class="button ahah" href="/slice/add/{{current.key}}">Add new slice</a>
    <hr class="sep"/>
    <a class="button ahah" href="/image/add/{{current.key}}">Upload a new image</a>
    <hr class="sep"/>
    <a class="button ahah" href="/project/add/">Create new project</a>
    <hr class="sep"/>
    <form action="/project/edit/" method="get">
        <select name="key" onchange="this.form.submit()">
            {% for project in projects %}
                <option {%ifequal project.key current.key%}selected="selected"{%endifequal%} value="{{project.key}}">{{project.title}}</option>
            {% endfor %}
        </select>
        <input id="submit_select" type="submit" value="select"/>
        <script> document.getElementById('submit_select').style.display = 'none' </script>
    </form>
    <hr class="sep"/>
    <span>{{user}}</span>
    <a onmousedown="document.location.href=this.href" style="font-weight: bold; padding: 0 1em 0 1em; color: #ccf" href="{{logout_url}}">logout</a>
</div>
<div style="position: absolute; top: 3em; bottom:3px; left:0; right:0; border-bottom: 1px solid #ccc;">
<table class="hpane">
    <tr>
    <td>
    <div class="reps">
        <div class="abps">
            <div class="accordeon" id="ac">
                <h4 class="ac_title" onclick="$(this).next().visible() ? $(this).next().hide() : $(this).next().show()">Images</h4>
                <ul class="ac_content">
                {% for image in images %}
                    <li>
                        <a onclick="Control.ui.select(this);return false;" class='sidebar' href="/image/edit/{{ image.key }}">
                            <img src="/image/thumbnail/{{image.key}}" />
                            <strong>{{ image.name }}</strong><br/>
                            <em>{{image.width}} x {{image.size}}</em>
                        </a>
                    </li>
                {% endfor %}
                </ul>
                <h4 class="ac_title" onclick="$(this).next().visible() ? $(this).next().hide() : $(this).next().show()">Slices</h4>
                <ul class="ac_content">
                    {% for slice in slices %}
                    <li>
                        <a class='sidebar' onclick="Control.ui.select(this);return false;" id="slice_{{slice.key}}" href="/slice/edit/{{slice.key}}">
                            <strong>{{ slice.name }}</strong><br/>
                            <em>{{slice.left}},{{slice.top}} {{ slice.width }}x{{slice.height}}, {{slice.type}}</em>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    </td>
        <td class="pane" width="80%">
            <table class="vpane">
                <tr>
                    <td class="pane" height="100%">
                        <div class="reps">
                            <div class="abps">
                                <div id="viewport" class="canvas" style="position: relative; height: 100%; overflow: auto; background-color: #ccc">
                                    {% for image in images %}
                                        {% if image.visible %}
                                        <a onclick="Control.ui.select(this);return false;" class="image" id="{{image.key}}" href="/image/edit/{{image.key}}" style="position: absolute; top: {{image.top}}px; left: {{image.left}}px;">
                                            <img id="img_{{image.key}}" src="/image/serve/{{image.blobkey}}" />
                                        </a>
                                        {% endif %}
                                    {% endfor %}
                                    {% for slice in slices %}
                                        <a href="/slice/edit/{{slice.key}}" onclick="Control.ui.select(this);return false;" id="{{slice.key}}" class="slice" style="top: {{slice.top}}px; left: {{slice.left}}px; width: {{slice.width}}px; height: {{slice.height}}px; position:absolute;">
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pane">
                        <div id="form_updater">
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</div>
