{% extends "../layout.html" %}

{% block main %}
<a id="context-add" class="button" href="/invoice/edit/?customer={{customer.key}}">add invoice</a>
<div id="list-box">
    <ul id="list-tabs">
        <li class=""><a href="/customer/edit/{{customer.key}}">edit customer</a></li>
        <li class="active"><a href="/customer/view/{{customer.key}}">invoices</a></li>
    </ul>
    <h4>Invoices for {{customer.fullname}}</h4>
    {%if customer.invoices %}
    <table id="list-content">
        <tr>
            <th>name</th>
            <th>description</th>
            <th colspan="3">actions</th>
            <th>billing status</th>
        </tr>
        {% for invoice in customer.invoices %}
        <tr class="{% cycle uneven,even %}">
            <td>{{invoice.customer.fullname}}</td>
            <td>{{invoice.description}}</td>
            <td><a href="/invoice/edit/{{invoice.key}}">edit</a></td>
            <td><a href="/invoice/render/{{invoice.key}}">download</a></td>
            <td><a href="/invoice/delete/{{invoice.key}}">delete</a></td>
            <td class="due-status-{{invoice.status}}">{{invoice.duedate}}</td>
        </tr>
        {% endfor %}
    </table>
    {%else%}
    <p>{{customer.firstname}} {{customer.surname}} has no invoices yet</p>
    {%endif%}
</div>
{% endblock %}
