{% extends "../layout.html" %}

{% block main %}

{%if companies %}
<a id="context-add" class="button" href="/company/edit/">add company</a>
<div id="list-box">
    <ul id="list-tabs">
        <li {%ifequal tab "list"%}class="active"{%endifequal%}><a href="/company/list/">all companies</a></li>
        <li {%ifequal tab "default"%}class="active"{%endifequal%}><a href="/invoice/list/?tab=default">default company</a></li>
    </ul>
    <table id="list-content">
        <tr>
            <th>name</th>
            <th>description</th>
            <th colspan="3">actions</th>
            <!--<th>billing status</th>-->
        </tr>
        {% for company in companies %}
        <tr class="{% cycle uneven,even %}">
            <td>{{company.name}}</td>
            <td>{{company.description}}</td>
            <td><a href="/company/edit/{{company.key}}">edit</a></td>
            <td><a href="/company/render/{{company.key}}">download</a></td>
            <td><a href="/company/delete/{{company.key}}">delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{%else%}
<div class="notice">
    <a id="context-add" class="button" href="/company/edit/">add company</a>
    <h4>Create a company</h4>
    <p><a href="/customer/add/">start</a> with adding a company here</p>
</div>
{%endif%}
{%endblock%}