{% extends "../layout.html" %}

{% block main %}

{% if notice %}
    <div class="notice">{{notice}}</div>
{% else %}
<a id="context-add" class="button" href="/invoice/edit/">add invoice</a>
<div id="list-box">
    <ul id="list-tabs">
        <li {%ifequal tab "overdue"%}class="active"{%endifequal%}><a href="/invoice/list/?tab=overdue">overdue invoices</a></li>
        <li {%ifequal tab "billed"%}class="active"{%endifequal%}><a href="/invoice/list/?tab=billed">billed invoices</a></li>
        <li {%ifequal tab "billable"%}class="active"{%endifequal%}><a href="/invoice/list/?tab=billable">billable invoices</a></li>
        <li {%ifequal tab "payed"%}class="active"{%endifequal%}><a href="/invoice/list/?tab=payed">payed invoices</a></li>
        <li {%ifequal tab "all"%}class="active"{%endifequal%}><a href="/invoice/list/?tab=all">all invoices</a></li>
    </ul>
{% if invoices %}
    <div class="pager">
        {% if pager.prev %}
        <div class="float-left third"><a href="?tab={{ tab }}&first={{ pager.first }}&page={{ pager.prev }}">&laquo; previous</a></div>
        {% endif %}
        {% if pager.next %}
        <div class="float-right third"><a href="?tab={{ tab }}&first={{ pager.first }}&page={{ pager.next }}">next &raquo;</a></div>
        {%  endif %}
    </div>
    <table id="list-content">
        <tr>
            <th>name</th>
            <th>description</th>
            <th colspan="4">actions</th>
            <th>status</th>
            <th>bill no</th>
            <th>amount</th>
        </tr>
        {% for invoice in invoices %}
        <tr class="{% cycle uneven,even %}">
            <td>{{invoice.customer.fullname}}</td>
            <td>{{invoice.description|truncatewords:3|urlizetrunc:10}}</td>
            <td><a href="/invoice/edit/{{invoice.key}}">edit</a></td>
            <td><a href="/render/invoice/{{invoice.key}}">download</a></td>
            <td><a href="/render/mail/{{invoice.key}}?continue={{request.url}}">e-mail</a></td>
            <td><a href="/invoice/delete/{{invoice.key}}">delete</a></td>
            <td class="due-status-{{invoice.status}}">{{invoice.duedate}}</td>
            <td>{{invoice.billing_number}}</td>
            <td>{{invoice.total}}
        </tr>
        {% endfor %}
    </table>
{% endif %}
</div>
{% endif %}
{% endblock %}
